*{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}
.navbar{
	height:40px;
	width:100%;
	position: fixed;
	top: 0;
	z-index: 3;
	background-color:#1f1c1c;
	color:#dadae4;
	display: flex;
	align-items: center;
}
.panel-ops p{
    display: inline;
	font-weight: 20px;
	
}
.panel-ops{
	width: 70%;
	font-size: 0.75rem;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.panel-ops a{
	text-decoration: none;
	color: #dadae4;
}
.apply-logo{
	margin-left:130px;
	width: 30px;
}
.apply-logo i{
	color: white;
}
.bag-logo{
	margin-left: 50px;
}
.bag-logo i{
	color: white;
}
.search-logo{
	margin-left:10px;
	width:20px ;
}
.search-logo i{
	color: white;
}
/** section **/
.section-panel{
	background-color:#1f1c1c;
	color: white;
	height: 450px;
	width: 1318px;
	display: flex;
	margin-top: 40px;


}
ul a {
   display: block;
   font-size: 25px;
   margin: 10px;
   margin-left: 90px;

}
.points{
   font-size: 0.80rem;
   margin: 10px;
   margin-left: 90px;
}
ul p{
   font-weight: normal;
   font-size: 0.80rem;
   color:#dadae4;
   margin-top: 45px;
   margin-left: 90px;

}
